:root {
    --forest-green: #04553D;
    --maize: #FEF1D4;
    --burgandy: #6D1F18;
    --pecan: #CC9964;
    --display-font-size: 40px;
}

.btn-danger {
    background-color: var(--burgandy) !important;
}

.btn-success {
    background-color: var(--forest-green) !important;
}

.btn-secondary {
    background-color: var(--pecan) !important;
}

.btn-light {
    background-color: var(--maize) !important;
}

.btn {
    width: 100%;
    height: 100px;
    filter: brightness(100%);
    border-radius: 0px;
    border: 2px solid black !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover {
    filter: brightness(125%);
}

.btn:active {
    filter: brightness(150%);
}

.btn-light:hover {
    filter: brightness(105%);
}

.btn-light:active {
    filter: brightness(110%);
}

.btn-secondary:hover {
    filter: brightness(110%);
}

.btn-secondary:active {
    filter: brightness(120%);
}

.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.form-group {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    /* padding-top: 10px; */
}

.text-area {
    background-color: black !important;
    color: white !important;
    padding: 0px;
    width: 100%;

    height: var(--display-font-size);
    font-size: var(--display-font-size);
    line-height: var(--display-font-size);

    overflow-x: hidden;
    white-space: nowrap;
    resize: none;
    border: none;
    text-align: right;
}

.pecan-font-color {
    color: var(--pecan) !important;
}

.text-area:focus {
    box-shadow: none;
    outline: none;
}

.form {
    height: 100px;
    width: 100%;
}
